<!-- vehicle filter menu -->
<div class="panel-group" id="accordion">
  {{#each content}}
  	{{collapse-menu make=make model=model collapseID=collapseID hashCollapseID=hashCollapseID}}
  {{/each}}
</div>