<!-- welcome page-->
<div class="jumbotron">
  <!-- <h1>Welcome to GearBox<h1> -->
  <h1><img src="assets/images/GearboxGrey.jpg" class="img-responsive" width="700px"></h1>
  <p>The source for vehicle hacks and DIY repairs and maintenance tutorials.</p>
  <p>
    <a data-toggle="collapse" data-target="#learnMore" href="#learnMore" class="btn btn-primary btn-lg" role="button">
      Learn more
    </a>
  </p>
  <p id="learnMore" class="collapse">
    <small>
      GearBox is a free-content tutorial database based on an openly editable model similar to Wikipedia. The information available for viewing on the site are contributed by anonymous individuals. Some articles featured are collected from automotive and motorcycle enthusiast forums and websites. Please feel free to contribute your own experiences and rate and comment on existing tutorials.
    </small>		
  </p>
</div>